<%= render 'layouts/errors', obj: @user %>
<div class='container p-3'>
  <div class='row d-flex justify-content-center'>
    <section calss='col-md-8'>
      <h1>User info</h1>
      <%= form_with model: @user do |f| %>
        <div class='form-group'>
          <label class='form-label'>Name</label>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <label class='form-label'>Image</label>
          <%= f.file_field :image, accept: 'images/*', class: 'd-block' %>
        </div>
        <div class='form-group'>
          <label class='form-label'>Introduction</label>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
        <%= f.submit 'Update User', class: 'btn btn-secondary' %>
      <% end %>
    </section>
  </div>
</div>  
