<div class='container p-3'> 
  <div class='row'>
    <%= render 'users/info', user: @user, new_book: @new_book %>
  
    <div class='col-md-8 offset-md-1'>
      <section>
        <h2>Book detail</h2>
        <table class='table'>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100), class: 'd-block' %>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                <%= link_to book_favorite_path(@book.id), method: :delete do %>
                  <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to book_favorite_path(@book.id), method: :post do %>
                  <i class="fa-regular fa-heart"></i><%= @book.favorites.count %>
                <% end %>
              <% end %>
            </td>
            <% if @user == current_user %>
              <td>
                <%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success' %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@book.id), method: :delete, class: 'btn btn-danger', 'data-confirm' => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
        </table>
      </section>
    </div>
  </div>
</div> 