<div class='container p-3'> 
  <div class='row'>
    <%= render 'users/info', user: @user, new_book: @new_book %>
  
    <div class='col-md-8 offset-md-1'>
      <section>
        <h2>Book detail</h2>
        <table class='table'>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100), class: 'd-block' %>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @book.category.present? %>
              <td>
                <%= link_to @book.category, tagsearches_search_path(content: @book.category) %>
              </td>
            <% end %>
            <td id="favorite_buttons_<%= @book.id %>">
              <%= render 'favorites/favorites_btn', book: @book %>
            </td>
            <td id='comment_count'>
              コメント数: <%= @book.book_comments.count %>
            </td>
            <td>
              閲覧数: <%= @book.view_counts.count %>
            </td>
            <td>
              <%= render "books/static_rate", book: @book %>
            </td>
            <% if @user == current_user %>
              <td>
                <%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success' %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@book.id), method: :delete, class: 'btn btn-danger', 'data-confirm' => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
        </table>
      </section>
      <section>
        <div id='book_comment'>
        <%= render 'book_comments/comments', book: @book %>
        </div>
        <div id='comment_form'>
          <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
        </div>
      </section>
    </div>
  </div>
</div> 