<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Redeveloped</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/945e2890b0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p class='text-success'><%= flash[:notice]%></p>
    <main>
      <% if user_signed_in? %>
        <div class='row d-flex justify-content-center'>
          <%= render 'searches/search_bar' %>
          <%= render 'tagsearches/tagsearch' %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
